@page
@model AppDomainProject.IncomeStatementModel
@{
    ViewData["Title"] = "IncomeStatement";
}

<h1>Income Statement</h1>
<table class="table">
    <thead>
        <tr>
            <th>Revenue</th>
            <th>$</th>
        </tr>
    </thead>
    <thead>
        @foreach (var i in Model.revenues)
        {
            <tr>
                <td>@i.Key</td>

                <td>@i.Value</td>
            </tr>
        }
    </thead>
    <thead>
        <tr>
            <th>Total </th>
            <th>@Model.revenue_total.ToString("0.##")</th>
        </tr>
    </thead>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Expenses</th>
            <th>$</th>
        </tr>
    </thead>
    <thead>
        @foreach (var i in Model.expenses)
        {
            <tr>
                <td>@i.Key</td>

                <td>@i.Value</td>
            </tr>
        }
    </thead>
    <thead>
        <tr>
            <th>Total </th>
            <th>@Model.expenses_total.ToString("0.##")</th>
        </tr>
    </thead>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Net Income</th>
            <th>@Model.net_total.ToString("0.##")</th>
        </tr>
    </thead>
</table>
<form method="post">
    <label>Select Date</label>
    <input title="Click to Select Date"  asp-for="Date" />
    <input title="Click to Run" type="submit" value="Run" />
</form>

<form method="post">
    <span style="display:inline-block; padding: 5px; text-align:center;margin-left:12%">
        <span class="form-group">
            <input title="Save Document" type="submit" value="Save" class="btn btn-primary" />
            <input title="Print Document" type="submit" value="Print" class="btn btn-primary" />
        </span>
    </span>
</form>

<a title="Go Back to Dashboard" href="./">Back</a>

