@page
@model AppDomainProject.Pages.Data.UserInfo.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <div class="text-left">
        <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
    </div>

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserInfoData[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfoData[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfoData[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfoData[0].Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfoData[0].PasswordSetDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfoData[0].PasswordExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserInfoData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordSetDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordExpirationDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
