@page
@model AppDomainProject.Pages.Admin.UsersModel
@using AppDomainProject.Models;
@{
	ViewData["Title"] = "Account Management";
}

	<div class="text-left">
		<img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
	</div>

<h1>User Accounts</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Users.FirstOrDefault().ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Users.FirstOrDefault().Class)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Users.FirstOrDefault().Status)
			</th>
		</tr>
	</thead>
	@foreach (UserInfoData u in Model.Users)
	{
<tr>
	<td>
		@Html.DisplayFor(modelItem => u.ID) <form method="post"><input type="submit" value="Details" asp-page-handler="AcctDetails" , asp-route-id=@u.ID /></form>
	</td>
	<td>
		@Html.DisplayFor(modelItem => u.Email)
	</td>
	<td>
		@Html.DisplayFor(modelItem => u.Class)
	</td>
	<td>
		@Html.DisplayFor(modelItem => u.Status) <form method="post"><input type="submit" value=@Model.GetUpdateText(u) asp-page-handler="AcctToggle" asp-route-id=@u.ID asp-route-status=@Model.GetToggleStatus(u) /></form>
	</td>

</tr>
	}

</table>
<div class="text-lg-left">
	<h2 class="display-4">Email Users</h2>
	<form method="post">
		<div class="form-group">
			<label asp-for="Email    " class="control-label"></label>
			<input asp-for="Email" class="control-label" />
		</div>
		<div class="form-group">
			<label asp-for="Subject" class="control-label"></label>
			<input asp-for="Subject" class="control-label" />
		</div>
		<div class="form-group">
			<label asp-for="Body" class="control-label"></label>
			<input asp-for="Body" class="control-label" />
		</div>
		<div class="form-group">
			<input asp-page-handler="Send" type="submit" value="Send" class="btn btn-primary" />
		</div>
	</form>

</div>
<div align="right" valign="bottom">
	<input type="submit" value="Help" class="btn btn-danger" asp-page="HelpPages/Help" />
</div>