@page "{acct}"
@model AppDomainProject.AccountModel
@{
    ViewData["Title"] = "Financial Account";
}

<h1>@Model.Account.AccountName</h1>
<p>@Model.Account.AccountNumber - @Model.GetCategoryLabel()</p>

<h3>Balance</h3>
<p>@Model.Account.Balance</p>
<h3>Side</h3>
<p>@Model.GetSideLabel()</p>
<div align="right" valign="bottom">
    <input type="submit" value="Help" class="btn btn-danger" asp-page="HelpPages/Help" />
</div>

@if (Model.UserIsAdmin())
{
    <a href="/Admin/EditAccount/@Model.Account.AccountNumber">Edit</a>
}
<br />
<a href="../Accounts">Back</a>