@page "{acct}"
@model AppDomainProject.AccountModel
@{
    ViewData["Title"] = "Financial Account";
}

<h1>@Model.Account.AccountName</h1>
<p>@Model.Account.AccountNumber - @Model.GetCategoryLabel() (@Model.GetSideLabel())</p>

<h3>Current Balance</h3>
<p>@Model.Account.Balance</p>

<h3>Transaction History</h3>
<form method="post">
    <label>Start Date</label>
    <input asp-for="TransactionStartDate"/>
    <label>End Date</label>
    <input asp-for="TransactionEndDate" />
    <input type="submit" value="Go" />

    <input hidden asp-for="acct" />
</form>
<p>Total Cashflow: @Model.Cashflow</p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Title</th>
            <th>Description</th>
            <th>Journal</th>
        </tr>
    </thead>
    @foreach(var t in Model.AccountTransactions)
	{
        <tr>
            <td>@t.TransactionDate</td>
            <td>@t.Ammount</td>
            <td>@t.Name</td>
            <td>@t.Description</td>
            <td><a href="../ViewJournal/@t.Journal">@t.Journal</a></td>
        </tr>
	}
</table>




@if (Model.UserIsAdmin())
{
    <a href="/Admin/EditAccount/@Model.Account.AccountNumber">Edit</a>
}
<br />
<a href="../Accounts">Back</a>