@page
@model AppDomainProject.JournalModel
@{
    ViewData["Title"] = Model.JournalLabelText();
}

<h1>Journal</h1>
<table class="table">
    <thead>
        <tr>
            <th>Account</th>
            <th>Transaction Name</th>
            <th>Debits</th>
            <th>Credits</th>
            <th>Description</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Transactions.Count; i++)
    {
        var line = Model.JournalLine(i);
        <tr>
            <td>@line.AccountName</td>
            <td>@line.TransactionName</td>
            <td>@line.Debit</td>
            <td>@line.Credit</td>
            <td>@line.Desc</td>
            <th>@line.Date</th>
            <td>
                <form method="post">
                    <input type="submit" value="Delete" title="click to  delete" asp-page-handler="RemoveTransaction" asp-route-transaction="@Model.Transactions[i].ID" asp-route-journal="@Model.Journal" />
                </form>
            </td>
        </tr>
    }
</table>


<h2>New Entry</h2>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th><label asp-for="NewTransaction.AccountNumber"></label></th>
                <th><label asp-for="NewTransaction.Name"></label></th>
                <th><label asp-for="NewTransaction.Debits"></label></th>
                <th><label asp-for="NewTransaction.Credits"></label></th>
                <th><label asp-for="NewTransaction.Description"></label></th>
                <th><label asp-for="NewTransaction.TransactionDate"></label></th>
            </tr>
        </thead>
        <tr>
            <td><select asp-for="NewTransaction.AccountNumber" asp-items="Model.GetAccounts()" title="Select Account Number"></select></td>
            <td><input asp-for="NewTransaction.Name" title="Enter Transaction Name" /></td>
            <td><input asp-for="NewTransaction.Debits" title="Enter Debits" /></td>
            <td><input asp-for="NewTransaction.Credits" title="Enter Credits" /></td>
            <td><input asp-for="NewTransaction.Description" title="Enter Description" /></td>
            <td><input asp-for="NewTransaction.TransactionDate" title="Enter Transaction Date" /></td>
        </tr>
    </table>

    <input type="submit" value="Add" title="click to add" asp-page-handler="AddTransaction" asp-route-journal="@Model.Journal" />

    <input hidden asp-for="NewTransaction.ID" />
    <input hidden asp-for="NewTransaction.Journal" />
</form>

@if (Model.Journal != null)
{
    <h2>Submit Journal</h2>
    <form method="post">
        <input type="submit" title="click submit" value="Submit" asp-page-handler="Submit" asp-route-journal="@Model.Journal.Value" />
    </form>
}
<br />
<a href="/User/Journals">Back </a>