@page
@model AppDomainProject.JournalModel
@{
    ViewData["Title"] = Model.JournalLabelText();
}

<h1>Journal</h1>
<form asp-action="Search" method="get">
<div class="form-actions no-color">
    <p>
        Find by name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Journal">Back to Full List</a>
    </p>
</div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Account</th>
            <th>Transaction Name</th>
            <th>Ammount</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Transactions.Count; i++)
    {
        var line = Model.JournalLine(i);
        <tr>
            <td>@line.AccountName</td>
            <td>@line.TransactionName</td>
            <td>@line.Ammount</td>
            <td>@line.Desc</td>
            <td>
                <form method="post">
                    <input type="submit" value="Delete" asp-page-handler="RemoveTransaction" asp-route-transaction="@Model.Transactions[i].ID" asp-route-journal="@Model.Journal" />
                </form>
            </td>
        </tr>
    }
</table>


<h2>New Entry</h2>

<form method="post">
    <div class=" form-group">
        <label asp-for="NewTransaction.AccountNumber"></label>
        <select asp-for="NewTransaction.AccountNumber" asp-items="Model.GetAccounts()"></select>
    </div>
    <div class="form-group">
        <label asp-for="NewTransaction.Ammount"></label>
        <input asp-for="NewTransaction.Ammount" />
    </div>
    <div class="form-group">
        <label asp-for="NewTransaction.Name"></label>
        <input asp-for="NewTransaction.Name" />
    </div>
    <div class="form-group">
        <label asp-for="NewTransaction.Description"></label>
        <input asp-for="NewTransaction.Description" />
    </div>
    <div class="form-group">
        <label asp-for="NewTransaction.TransactionDate"></label>
        <input asp-for="NewTransaction.TransactionDate" />
    </div>

    <input type="submit" value="Add" asp-page-handler="AddTransaction" asp-route-journal="@Model.Journal" />

    <input hidden asp-for="NewTransaction.ID" />
    <input hidden asp-for="NewTransaction.Journal" />
</form>

@if (Model.Journal != null)
{
    <h2>Submit Journal</h2>
    <form method="post">
        <input type="submit" value="Submit" asp-page-handler="Submit" asp-route-journal="@Model.Journal.Value" />
    </form>
}