@page "{id}"
@model AppDomainProject.ViewEventLogDetailsModel
@{
    ViewData["Title"] = "ViewEventLogDetails";
}
@using AppDomainProject.Models;
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">

<div class="row">
    <div class = "col-6">
        <h1>Before Image of Account</h1>
        <form method="get">
            <div class="form-group">
                <label asp-for="Before.AccountName"></label>
                <input asp-for="Before.AccountName" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="Before.AccountDescription"></label>
                <input asp-for="Before.AccountDescription" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="Before.AccountCategory"></label>
                <input asp-for="Before.AccountCategory" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="Before.AccountSubCategory"></label>
                <input asp-for="Before.AccountSubCategory" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="Before.InitialBalance"></label>
                <input asp-for="Before.InitialBalance" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="Before.Order"></label>
                <input asp-for="Before.Order" disabled/>
            </div>

            <div class="form-group">
                <label asp-for="Before.Statement"></label>
                <select asp-for="Before.Statement" asp-items="Html.GetEnumSelectList<AccountData.AccountStatement>()" disabled></select>
            </div>

            <div class="form-group">
                <label asp-for="Before.NormalSide"></label> <br />
                <input type="radio" asp-for="Side" value="@Model.Sides[0]" disabled/>@Model.Sides[0]<br />
                <input type="radio" asp-for="Side" value="@Model.Sides[1]" disabled/>@Model.Sides[1]<br />
            </div>

            <div>
                <input hidden asp-for="Before.Balance" />
                <input hidden asp-for="Before.Credit" />
                <input hidden asp-for="Before.Debit" />
                <input hidden asp-for="Before.ID" />
                <input hidden asp-for="Before.TimeAccountAdded" />
                <input hidden asp-for="Before.Comment" />
                <input hidden asp-for="Before.NormalSide" />
                <input hidden asp-for="Before.AccountNumber" />
                <input hidden asp-for="Before.Active" />
            </div>
        </form>
     </div>
    <div class="col-6">
        <h1>After Image of Account</h1>
        <form method="get">
            <div class="form-group">
                <label asp-for="After.AccountName"></label>
                <input asp-for="After.AccountName" disabled />
            </div>

            <div class="form-group">
                <label asp-for="After.AccountDescription"></label>
                <input asp-for="After.AccountDescription" disabled />
            </div>

            <div class="form-group">
                <label asp-for="After.AccountCategory"></label>
                <input asp-for="After.AccountCategory" disabled />
            </div>

            <div class="form-group">
                <label asp-for="After.AccountSubCategory"></label>
                <input asp-for="After.AccountSubCategory" disabled />
            </div>

            <div class="form-group">
                <label asp-for="After.InitialBalance"></label>
                <input asp-for="After.InitialBalance" disabled />
            </div>

            <div class="form-group">
                <label asp-for="After.Order"></label>
                <input asp-for="After.Order" disabled />
            </div>

            <div class="form-group">
                <label asp-for="After.Statement"></label>
                <select asp-for="After.Statement" asp-items="Html.GetEnumSelectList<AccountData.AccountStatement>()" disabled></select>
            </div>

            <div class="form-group">
                <label asp-for="After.NormalSide"></label> <br />
                <input type="radio" asp-for="Side" value="@Model.Sides[0]" disabled />@Model.Sides[0]<br />
                <input type="radio" asp-for="Side" value="@Model.Sides[1]" disabled />@Model.Sides[1]<br />
            </div>

            <div>
                <input hidden asp-for="After.Balance" />
                <input hidden asp-for="After.Credit" />
                <input hidden asp-for="After.Debit" />
                <input hidden asp-for="After.ID" />
                <input hidden asp-for="After.TimeAccountAdded" />
                <input hidden asp-for="After.Comment" />
                <input hidden asp-for="After.NormalSide" />
                <input hidden asp-for="After.AccountNumber" />
                <input hidden asp-for="After.Active" />
            </div>
        </form>
    </div>
</div>




