@page
@model AppDomainProject.Pages.Data.Transactions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TransactionData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionData.Journal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionData.Journal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionData.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionData.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionData.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionData.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionData.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionData.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionData.Debits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionData.Debits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionData.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionData.Credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionData.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionData.TransactionDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TransactionData.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
